# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*
*.db
*.sqlite3

# Git
.git/
.gitignore

# Docker compose override
docker-compose.override.yml

# OS
.DS_Store

# Coverage & Test artifacts
htmlcov/
.coverage
*.log
